@model IEnumerable<ASP.NETCoreLoyaltyRewardsSystem.Models.Transaction>

@{
    ViewData["Title"] = "Rewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rewards</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfTransaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountBeforeDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointsApplied)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTransaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountBeforeDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsApplied)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
